<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <property name="log.path" value="logs"/>
    <property name="project.name" value="log"/>
    <property name="file.name" value="${log.path}/%d{yyyyMMdd, aux}/${project.name}.%d{yyyy-MM-dd}"/>

    <property name="max.history" value="7"/>
    <property name="total.size.cap" value="500MB"/>
    <property name="max.file.size" value="5MB"/>

    <include resource="org/springframework/boot/logging/logback/defaults.xml"/>

    <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${CONSOLE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
    </appender>

    <appender name="ALL-OUT" class="ch.qos.logback.core.rolling.RollingFileAppender" prudent="false">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <pattern>${FILE_LOG_PATTERN}</pattern>
            <charset>utf-8</charset>
        </encoder>
        <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
            <FileNamePattern>${file.name}.%i.log</FileNamePattern>
            <maxHistory>${max.history}</maxHistory>
            <totalSizeCap>${total.size.cap}</totalSizeCap>
            <maxFileSize>${max.file.size}</maxFileSize>
        </rollingPolicy>
    </appender>

    <root level="warn">
        <appender-ref ref="STDOUT"/>
        <appender-ref ref="ALL-OUT"/>
    </root>

    <logger name="org.springframework" level="INFO"/>
    <logger name="org.springframework.jdbc" level="DEBUG"/>
    <logger name="p6spy" level="INFO"/>
    <logger name="org.springframework.jdbc.core.StatementCreatorUtils" level="TRACE"/>

</configuration>